# تجاهل البيئة الافتراضية
venv/
venv_new/

# تجاهل الملفات المؤقتة لبايثون
__pycache__/
*.pyc

# تجاهل قاعدة البيانات وملف السجلات (للحفاظ على خصوصية البيانات)
*.db
*.log

# تجاهل مجلدات المخرجات
reports/
unknown_visitors/
db_backups/

# تجاهل ملفات الإعدادات الخاصة ببعض برامج التعديل
.vscode/
.idea/
